# Supabase — https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://kqgyiqdubqnrlumanxvg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxZ3lpcWR1YnFucmx1bWFueHZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNzYxMzgsImV4cCI6MjA5Mzc1MjEzOH0.FsypTnbcWaabzCoC0OHS18F_0SVniU56z6qYe2z-5oc


# Optional: only needed if using service_role key on server
# SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
